{% extends 'base.html' %}

{% block title %}Weather{% endblock %}

{% block content %}
<main>
    <h2>Weather</h2>
    <div class="page_buttons">
        <a href="{{ url_for('users.home') }}">Home</a>
    </div>

    <p>Insert your 5 digit zipcode to return the current weather conditions.</p>
    <form method="POST">
       <fieldset>
            <label for="zipcode">Zipcode:</label>
            <input type="text" name="zipcode" required>

            <button type="submit">Search</button>
       </fieldset> 
    </form>
    <div>
        <p>Current Weather</p>
        <pre>{{ weather }}</pre>
        {% for item in weather%}
        <p>{{ item.temperature }}</p>
        {% for message in item.messages%}
        <p> {{ message }}</p>
        {% endfor %}
        {% endfor %}
    </div>


</main>
{% endblock %}