{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <div class="mini_nav">
        <h2>Welcome, {{ user.username }}!</h2>
    <div class="page_buttons">
        <a href="{{ url_for('weather.index') }}">Get Weather!</a>
    </div>
</div>
    <div class="container">
        <div>
        <p> Choose a menu item from the top right to get started. 
            <span class="tooltip" data-text="'Clients' is where you can track the people you do business with!">
                <img src="{{ url_for('static', filename='images/question.svg')}}"/>
            </span>
        </p>
        <br>
    </div>
    <p>Need to check the weather before the gig? Click 'Get Weather!'</p>
    </div>
</main>
{% endblock %}
