{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}
<main>
    <div class="mini_nav">
<h2>{{user.username}}'s Profile</h2>
<div class="page_buttons">
    <a href="{{ url_for('users.update') }}">Update Profile</a>
</div>
</div>
<table class="vertical_table">
    <tr>
        <th>Username: </th>
        <td>{{user.username}}</td>
    <tr>
        <th>Name: </th>
        <td>{{user.first_name}} {{user.last_name}}</td>
    </tr>
    <tr>
        <th>Email: </th>
        <td>{{user.email}}</td>
    </tr>
</table>
</main>

{% endblock %}