{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}
<main>
<h1>{{user.username}}'s Profile</h1>
<div class="page_buttons">
    <a href="{{ url_for('update') }}">Update Profile</a>
</div>
<table>
    <tr>
        <th>Username: </th>
        <td>{{user.username}}</td>
    <tr>
        <th>Name: </th>
        <td>{{user.first_name}} {{user.last_name}}</td>
    </tr>
    <tr>
        <th>Email: </th>
        <td>{{user.email}}</td>
    </tr>
</table>
</main>

{% endblock %}