{% macro add_button(target_url, entity_name) -%}
<div class="add_btn">
<a href="{{ target_url }}" title="Add new {{ entity_name }}">
    + new {{ entity_name }}
</a>
</div>
{%- endmacro %}


{% macro edit_button(entity_id, target_url) -%}
<a href="{{ target_url }}" method="post" title="Edit entity details"><span 
    class="material-symbols-outlined">edit</span></a>
{%- endmacro %}


{% macro delete_button(entity_name, target_url) -%}
<form class="ignore" action="{{ target_url }}" method="post" onsubmit="confirmDelete(event, '{{ entity_name }}')" )>
    <button class="ignore" type="submit" title="Delete entity"><span 
        class="material-symbols-outlined">delete</span></button>
</form>
{%- endmacro %}

{% macro sort_dates(target_url, direction) -%}
<a class="ignore" href="{{ target_url }}" method="GET">
    {% if direction == 'asc'%}
    <span title="sort date ascending"
    class="material-symbols-outlined">arrow_upward</span>
    {% else %}
    <span title="sort date descending"
    class="material-symbols-outlined">arrow_downward</span>
    {% endif %}
</a>
{%- endmacro %}