{% macro add_button(target_url) -%}
<a href="{{ target_url }}" title="Add new entry"><span 
    class="material-symbols-outlined">add_box</span></a>
{%- endmacro %}


{% macro edit_button(entity_id, target_url) -%}
<a href="{{ target_url }}" method="post" title="Edit entity details"><span 
    class="material-symbols-outlined">edit</span></a>
{%- endmacro %}


{% macro delete_button(entity_name, target_url) -%}
<form class="ignore" action="{{ target_url }}" method="post" onsubmit="confirmDelete(event, '{{ entity_name }}')" )>
    <button class="ignore" type="submit" title="Delete entity"><span 
        class="material-symbols-outlined">delete</span></button>
</form>
{%- endmacro %}