{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}


<main>
    <h1>Clients</h1>
    <div class="page_buttons">
        
        <a href="{{ url_for('clients.manage_clients') }}" title="Add, Edit or Delete Clients">Manage Clients</a>
        <a href="{{ url_for('clients.view_clients') }}" title="View roster to avoid making unwanted changes">Roster</a>
    </div>
   
    <div>
        <p> Manage your clients or view your roster here </p>
    </div>


</main>
{% endblock %}