{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}


<main>
    <h1>Clients</h1>
    <div class="page_buttons">
        
        <a href="{{ url_for('manage_clients') }}">Manage Clients</a>
        <a href="{{ url_for('view_clients') }}">Roster</a>
    </div>
    

    <div>
        <p> Manage your clients or view your roster here <img src="{{ url_for('static', filename='images/question.svg')}}" class="tooltip"/>
        </p>
    </div>


</main>
{% endblock %}