{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}

<main>
    <div class="mini_nav">
        <h2>Clients</h2>
        <div class="page_buttons">
            <a href="{{ url_for('clients.manage_clients') }}" title="Add, Edit or Delete Clients">Manage Clients</a>
            <a href="{{ url_for('clients.view_clients') }}" title="View roster to avoid making unwanted changes">Roster</a>
        </div>
    </div>
    <div class="container">
        <p> Manage your clients or view your roster here </p>
    </div>
</main>
{% endblock %}