{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
<main>
<h1>Clients</h1>

<table>
    <caption>Client Roster</caption>
    <thead>
        <tr>
            <th><a href="{{ url_for('create_client') }}">Add</a>
            <th>Name</th>
            <th>Email</th>
            <th>Event Address</th>
            <th>Event City</th>
            <th>Event State</th>
            <th>Event Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td></td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.state }}</td>
                <td>{{ client.date }}</td>
                <td>
                    <!-- Button to edit the client -->
                    <a href="{{ url_for('update_client', client_id=client.id) }}">Edit</a>
                    <!-- Button to delete the client -->
                    <form action="{{ url_for('delete_client', client_id=client.id) }}" method="post" onsubmit="return confirmDelete();">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="confirm" value="yes">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete() {
        return confirm('Do you want to delete? This cannot be undone.');
    }
</script>
<div class="page_buttons">
<a href="{{ url_for('view_clients') }}">Roster</a>
</div>
</main>
{% endblock %}