{% extends 'base.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
<main>
    <div class="mini_nav">
        <h2>Clients</h2>
    <div class="page_buttons">
        <a href="{{ url_for('clients.manage_clients') }}">Manage Clients</a>
    </div>
    </div>
<div class="container">
<div class="table_container">
    <div>
    <table>
        <caption>Client Roster</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Event Address</th>
                <th>Event City</th>
                <th>Event State</th>
                <th>Event Date</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr class="{{ 'hidden' if loop.index > 3 else ''}}">
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.address | default('---', true) }}</td>
                    <td>{{ client.city | default('---', true) }}</td>
                    <td>{{ client.state }}</td>
                    <td>{{ client.date | format_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <button class="ignore" id="loadMoreClients" onclick="loadMore()" title="load more clients"><span 
            class="material-symbols-outlined expand_arrow_down">
            expand_circle_down
            </span></button>
        <button class="hidden" id="showLessClients" onclick="showLess();" title="show fewer clients"><span 
            class="material-symbols-outlined expand_arrow_up">
            expand_circle_up
            </span></button>
    </div>
</div>
</div>
</main>
{% endblock %}
