{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<main>
    <h2>Welcome to <strong>musico</strong>!</h2>
    <div class=" container homediv">
        <p> <strong>musico</strong> is an app to manage clients, set lists, and events
            for the busy musician. It allows you to create a roster of clients,
            maintain their information and their events all in one centralized location.
            Your personalized account keeps your data secure!</p>
        <p> Not only can you keep track of clients, but you can keep track of your music library
            and generate set lists at the click of a button.</p> 
        <p><strong>musico</strong>'s calendar will
            help you manage all your events in the app.</p> 
        <p>To access these features, log in or register an account!</p>
    </div>
</main>
{% endblock %}
